body {
    // background-color: #fffdf9;
    background-color: #f9f4ec;
    // font-family: "Inter", sans-serif;
    margin-top: 60px;
}

.site-header {
    border-top: 5px solid #418756;
    border-bottom: 1px solid #e4c99c;
    background: #f7e3be;
}

.site-title .fa-solid {
    color: #418756;
}

.wrapper {
    max-width: -webkit-calc(900px - (30px * 2));
}

.site-title {
    font-weight: 500;
}

.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


.over_wrapper {
    padding: 0 20px;
}

.main-wrapper {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    margin: 20px auto;
}

.page-content {
    padding: 0;
    flex: 1;
}

.trigger .fa-solid {
    margin-right: 5px;
    color: #b49e75;
}


.main-wrapper {
    background-color: #ffffff;
    padding: 0;
    margin: 20px auto;
    overflow: hidden;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    z-index: 1;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.hero-content {
    position: relative;
    margin-top:-125px;
    padding:30px;
    color: #000;
    z-index: 2;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* Style for content outside hero-container */
.main-wrapper > .home > *:not(.hero-container) {
    padding: 0 30px;
}

.main-wrapper > .home > *:first-child:not(.hero-container) {
    padding-top: 30px;
}

.main-wrapper > .home > *:last-child {
    padding-bottom: 30px;
}

.post-content {
    padding: 30px;
}

.post-header {
    padding: 30px 30px 0px 30px;
    margin-bottom: 0;
}


.hero-container + .post-header {
    margin-top: -100px;
    z-index: 9999;
    position: relative;
}

.post-title a {
    color:#000;
}

.post-list img {
    max-width:100px;
}