body {
    // background-color: #fffdf9;
    background-color: #f9f4ec;
    // font-family: "Inter", sans-serif;
    margin-top: 60px;
}

.site-header {
    border-top: 5px solid #418756;
    border-bottom: 1px solid #e4c99c;
    background: #f7e3be;
}

.site-title .fa-solid {
    color: #418756;
}

.wrapper {
    max-width: -webkit-calc(900px - (30px * 2));
}

.site-title {
    font-weight: 500;
}

.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


.crop-container {
    width: 100%;
    height: 300px; /* Fixed height instead of max-height */
    overflow: hidden;
    margin: 0 auto 15px;
    border-radius: 5px;
    position: relative;
}

.crop-container img {
    width: 100%;
    height: auto; /* Allow the image to take its natural height */
    object-fit: cover;
    object-position: center; /* Center the image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the image */
    border-radius: 5px;
}

@media (max-height: 300px) {
    .crop-container {
        height: 100vh; /* Use viewport height for smaller screens */
    }
}



.main-wrapper {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    margin: 20px auto;
}

.page-content {
    padding: 0;
    flex: 1;
}

.trigger .fa-solid {
    margin-right: 5px;
    color: #b49e75;
}